<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://pbs.twimg.com/profile_images/1455877656084373504/5hViV9lZ_400x400.jpg"
      cardTitle="BOOTCAMPS"
      cardDescription="Dio anuncia novos Bootcamps"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="GFT - Novo Bootcamp desbloqueado"
      photoCover="https://i.ytimg.com/vi/fKMvNreB_Bg/hqdefault.jpg?sqp=-oaymwEiCKgBEF5IWvKriqkDFQgBFQAAAAAYASUAAMhCPQCAokN4AQ==&rs=AOn4CLCKd0fhsyLLTmPJP5p67boyiG-OKw"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Carrefour - Novo Bootcamp desbloqueado"
      photoCover="https://hermes.digitalinnovation.one/files/assets/d6105760-e243-4314-811a-7cbf0b0a0226.png"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Jornada Devops com AWS - Novo Bootcamp desbloqueado"
      photoCover="https://hermes.digitalinnovation.one/files/assets/970fdeaf-db50-4842-9542-d7d3de677820.png"
    >
    </app-small-card>
  </div>
</div>
